.footer
	background-color: #3b3b3b
	padding: 40px 0

.contacts__line
	font-family: "Open Sans"
	color: #ffffff
	font-size: 16px
	margin-bottom: 20px
	line-height: 1
	&:last-child
		margin-bottom: 0

.social-wrapper
	margin-right: 10px
	&:last-child
		margin-right: 0

.fri-facebook, .fri-twitter, .fri-google, .fri-vk, .fri-email