.mobile-menu-modal
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 101
	opacity: 0
	background-color: rgba(0, 0, 0, 0.5)
	transition: all 0.3s ease
	visibility: hidden
	&.opened
		visibility: visible
		opacity: 1
		.mobile-menu-wrapper
			transform: translateX(0)

.mobile-menu-wrapper
	height: 100%
	max-width: 400px
	overflow: auto
	width: 90%
	padding: 35px 25px 25px
	background-color: #ffffff
	transition: all 0.3s ease
	transform: translateX(-100%)

.mobile-menu
	list-style-type: none

.mobile-menu__item
	position: relative
	margin-bottom: 15px
	padding-bottom: 5px
	&::after
		position: absolute
		content: ''
		top: 100%
		left: 0
		width: 100%
		border-bottom: 2px solid #f0f0f0
	&:last-child
		margin-bottom: 0
	&:hover
		.mobile-menu__submenu
			display: block

.mobile-menu__close
	position: relative
	width: 34px
	height: 34px
	margin-left: auto
	margin-right: 0
	margin-bottom: 10px
	&::after
		position: absolute
		content: ''
		top: 15px
		left: 0
		width: 100%
		border-top: 1px solid #000000
		-webkit-transform: rotate(45deg)
		-moz-transform: rotate(45deg)
		-o-transform: rotate(45deg)
		transition: all 0.3s ease
	&::before
		position: absolute
		content: ''
		top: 15px
		left: 0
		width: 100%
		border-bottom: 1px solid #000000
		-webkit-transform: rotate(-45deg)
		-moz-transform: rotate(-45deg)
		-o-transform: rotate(-45deg)
		transition: all 0.3s ease
	&:hover
		&::after
			border-color: #000000
		&::before
			border-color: #000000

.mobile-menu__submenu
	position: relative
	display: none
	list-style-type: none
	transition: all 0.3s ease
	top: 0
	left: 0
	
.mobile-menu__submenu
	margin-top: 15px
	margin-left: 10px

.mobile-submenu__item
	margin-bottom: 10px

.mobile-menu__item_dropdown
	position: relative
	cursor: pointer
	&::before
		position: absolute
		content: ''
		top: 50%
		transform: translateY(-50%)
		left: auto
		right: -20px
		width: 0
		height: 0
		border-style: solid
		border-width: 7px 5px 0 5px
		border-color: #868686 transparent transparent transparent

.popup-wrapper
	top: 0
	left: 0
	display: inline-flex
	height: 100%
	width: 100%
	position: fixed
	z-index: 100
	background-color: rgba(0,0,0, 0.3)
	visibility: hidden
	opacity: 0
	align-items: center
	+transition(all 0.3s ease)
	overflow: hidden
	&.opened
		visibility: visible
		opacity: 1
		.call-me, .download-popup, .sms-popup
			transform: perspective(500px) rotateX(0deg)

.popup-opened
	body
		&::after
			position: fixed
			top: 0
			right: 0
			bottom: 0
			left: 0
			z-index: 100

.popup__close
	position: absolute
	cursor: pointer
	top: -10px
	right: -5px
	border-radius: 50%
	border: 1px solid #81c21e
	height: 26px
	width: 26px
	display: inline-block
	background-color: #fff
	transform: rotate(45deg)
	+transition(all 0.3s ease)
	&::after
		position: absolute
		content: ''
		width: 20px
		height: 2px
		border-radius: 2px
		top: 11px
		left: 2px
		background-color: #81c21e
	&::before
		position: absolute
		content: ''
		height: 20px
		width: 2px
		border-radius: 2px
		top: 2px
		left: 11px
		background-color: #81c21e

.call-me
	position: relative
	padding: 55px 25px 25px
	max-width: 500px
	width: 90%
	background-color: #F7F8FA
	margin: 0 auto
	border-radius: 15px
	transform: perspective(0px) rotateX(90deg)
	+transition(all 0.3s ease)

.popup__form
	display: flex
	flex-direction: column
	justify-content: center

.call-me__title
	font-size: 24px
	text-align: center
	margin-bottom: 20px