.{% extends "layouts/app.twig" %}

{% block pageTitle %}Реклама на сайте{% endblock %}

{% block content %}


    <div class="article-page">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a class="link-with-underline link-gray" href="/">Главная</a></li>
                <li class="breadcrumbs__item"><a class="link-with-underline link-gray" href="/ads-in-site.html">Реклама на сайте</a></li>
            </ul>
            <div class="d-flex">
                <div class="page-content">
                    <div class="page-content-wrapper">
                        <h2 class="h2-title">Разместить рекламу на сайте</h2>
                        <div class="place-an-ads">
                            <h3 class="h3-title text-center">Сквозной баннер <span class="text-green d-inline-blok">289 x 114 пикселей</span> - <span class="text-red d-inline-blok">35 000 тенге/мес.</span></h3>
                            <div class="place-an-ads__img-wrapper">
                                <img src="images/ads-in-through.jpg" alt="" class="place-an-ads__image">
                            </div>
                            <h3 class="h3-title text-center">Баннеры внутри новостей и статей <span class="text-green d-inline-blok">560 x 150 пикселей</span> - <span class="text-red d-inline-blok">22 000 тенге/мес.</span></h3>
                            <div class="place-an-ads__img-wrapper">
                                <img src="images/ads-in-article.jpg" alt="" class="place-an-ads__image">
                            </div>
                            <h3 class="h3-title text-center">Баннер внутри списков новостей и статей <span class="text-green d-inline-blok">1150 x 100 пикселей</span> - <span class="text-red d-inline-blok">10 000 тенге/мес.</span></h3>
                            <div class="place-an-ads__img-wrapper">
                                <img src="images/ads-in-news.jpg" alt="" class="place-an-ads__image">
                            </div>
                            <p>Размещение пресс-релизов в новостных блоках с фото - <span class="text-red d-inline-blok">7 000 тенге</span></p>
                            <p>Поддержание пресс-релиза в ТОПе новостей в течение 4 х дней - <span class="text-red d-inline-blok">5000 тенге.</span></p>
                            <p class="mb0">Размещение информации в разделе "Статьи" до 12 000 символов, +4 фото - <span class="text-red d-inline-blok">13700 тенге</span></p>
                        </div>
                    </div>
                </div>
                <div class="sidebar">
                    <div class="journal">
                        <a class="journal__button button button_green" href="#">Читать журнал</a>
                    </div>
                    <div class="sidebar-grid-images">
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="http://zlak.info/" target="_blank"><img src="images/sidebar-image-1.jpg"></a>
                        </div>
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="http://zlak.info/" target="_blank"><img src="images/sidebar-image-2.jpg"></a>
                        </div>
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="#" target="_blank"><img src="images/sidebar-image-3.jpg"></a>
                        </div>
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="http://agriastana.kz/ru/" target="_blank"><img src="images/sidebar-image-4.jpg"></a>
                        </div>
                    </div>
                    <div class="sidebar-ban-wrapper">
                        <img src="images/ban.jpg" alt="" class="sidebar__ban">
                    </div>
                    <div class="sidebar-gismeteo">
                        <img src="images/gismeteo.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}