{% extends "layouts/app.twig" %}

{% block pageTitle %}Статья{% endblock %}

{% block content %}

	<div class="article-page">
		<div class="container">
			<ul class="breadcrumbs">
				<li class="breadcrumbs__item"><a class="link-with-underline link-gray" href="/">Главная</a></li>
				<li class="breadcrumbs__item"><a class="link-with-underline link-gray" href="#">Статьи</a></li>
				<li class="breadcrumbs__item"><a class="link-with-underline link-gray" href="#">Новый международный проект стартовал в Алматинской области</a></li>
			</ul>
            <div class="news-banners">
                <div class="news-banners__first">
                    <a class="link-image" href="#"><img src="http://via.placeholder.com/560x150"></a>
                </div>
                <div class="news-banners__second">
                    <a class="link-image" href="#"><img src="http://via.placeholder.com/560x150"></a>
                </div>
            </div>
			<div class="d-flex">
				<div class="page-content">
                    <div class="page-content-wrapper">
                        <h3 class="h3-title">Новый международный проект стартовал в Алматинской области</h3>
                        <div class="statistic-and-date mb15">
                            <i class="fri fri-date"></i>
                            <span class="articles-item__date">08.06.2017</span>
                            <i class="fri fri-views"></i>
                            <span class="articles-item__views">25</span>
                        </div>
                        <div class="article">
                            <div class="article-image-wrapper">
                                <img class="article-image" src="images/news-image-1.jpg">
                            </div>
                            <p class="article__text">Как указывается в сводке Минсельхоза РФ, яровые зерновые культуры в целом по стране посеяны на площади 30,6 млн га, или 98,7% к прогнозу (в 2016 году – 30,7 млн га). Из них яровая пшеница посеяна на площади 13,0 млн га, или 96,2% к прогнозу (в 2016 году – 13,5 млн га), яровой ячмень – на площади 7,4 млн га, или 96,2% к прогнозу (в 2016 году – 7,8 млн га), кукуруза на зерно – на площади 2,9 млн га, или 95,7% к прогнозу (в 2016 году – 2,8 млн га). Рис разместился на площади 179,4 тыс. га, или 85,1% к прогнозу (в 2016 году – 200,4 тыс. га), гречихой засеяно 1,4 млн га, или 130,3% к прогнозу (в 2016 году – 994,7 тыс. га). Сахарная свекла (фабричная) посеяна на площади около 1,2 млн га, или 105,1% к прогнозу (в 2016 году – 1,1 млн га). Лен-долгунец посеян на площади 39,3 тыс. га, или 82% к прогнозу (в 2016 году – 44,1 тыс. га). Подсолнечник на зерно посеян на площади 7,4 млн га, или 103% к прогнозу (в 2016 году – 7,0 млн га). Яровой рапс размещен на площади 859,9 тыс. га, или 97,7% к прогнозу (в 2016 году – 865,6 тыс. га).</p>
                            <p class="article__text">Соя, по информации МСХ РФ, посеяна на площади 2,3 млн га, или 102,7% к прогнозу (в 2016 году – 1,8 млн га). Картофель в сельскохозяйственных предприятиях и крестьянских (фермерских) хозяйствах посажен на площади 275,7 тыс. га, или 82,1% к прогнозу (в 2016 году – 303,3 тыс. га), овощи посеяны на площади 156,3 тыс. га, или 76,7% к прогнозу (в 2016 году – 152,9 тыс. га).</p>
                            <p class="article__source">ИА «Казах-Зерно»</p>
                            <div class="shared">
                                <span class="shared__title">Поделиться:</span>
                                <div class="pluso" data-background="transparent" data-options="big,round,line,horizontal,nocounter,theme=04" data-services="facebook,twitter,google,vkontakte,email"></div>
                            </div>
                        </div>
                        <div class="articles-slider owl-carousel jq-articles-slider">
                            <a class="articles-slider__item" href="#">
                                <div class="articles-slider__image-wraper">
                                    <img src="images/news-image-1.jpg"  class="articles-slider__image">
                                </div>
                                <div class="articles-slider__text">Новый международный проект стартовал в Алматинской области</div>
                            </a>
                            <a class="articles-slider__item" href="#">
                                <div class="articles-slider__image-wraper">
                                    <img src="images/news-image-2.jpg"  class="articles-slider__image">
                                </div>
                                <div class="articles-slider__text">Новый международный проект стартовал в Алматинской области</div>
                            </a>
                            <a class="articles-slider__item" href="#">
                                <div class="articles-slider__image-wraper">
                                    <img src="images/news-image-3.jpg"  class="articles-slider__image">
                                </div>
                                <div class="articles-slider__text">Новый международный проект стартовал в Алматинской области</div>
                            </a>
                            <a class="articles-slider__item" href="#">
                                <div class="articles-slider__image-wraper">
                                    <img src="images/news-image-4.jpg"  class="articles-slider__image">
                                </div>
                                <div class="articles-slider__text">Новый международный проект стартовал в Алматинской области</div>
                            </a>
                        </div>
                        <h2 class="h2-title h2-title_medium">Похожие статьи</h2>
                        <div class="similar-articles owl-carousel jq-similar-articles-slider">
                            <div class="similar-articles__item">
                                <div class="similar-articles__image-wrapper">
                                    <img class="similar-articles__image" src="images/news-image-1.jpg">
                                </div>
                                <div class="similar-articles__text">Новый международный проект стартовал в Алматинской области</div>
                                <div class="articles-item__bottom">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="articles-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="articles-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                            <div class="similar-articles__item">
                                <div class="similar-articles__image-wrapper">
                                    <img class="similar-articles__image" src="images/news-image-2.jpg">
                                </div>
                                <p class="similar-articles__text">Аскар Мырзаметович
                                    встретился с послом Чехии</p>
                                <div class="articles-item__bottom">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="articles-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="articles-item__views">25</span>
                                    </div>
                                </div>
                            </div>

                            <div class="similar-articles__item">
                                <div class="similar-articles__image-wrapper">
                                    <img class="similar-articles__image" src="images/news-image-3.jpg">
                                </div>
                                <p class="similar-articles__text">Ученые Кембриджа научили компьютер распознавать эмоции животных</p>
                                <div class="articles-item__bottom">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="articles-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="articles-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form class="add-comment" action="#">
                            <p class="add-comment__title">Добавить комментарий</p>
                            <div class="d-flex mb7">
                                <span class="comments-input-wrapper"><input class="default-input" type="text" placeholder="Имя*"></span>
                                <span class="comments-input-wrapper"><input class="default-input" type="text" placeholder="E-mail*"></span>
                            </div>
                            <div class="textarea-wrapper">
                                <textarea class="default-textarea" placeholder="Комментарий"></textarea>
                            </div>
                            <span class="add-comment__button button button_green" href="#">Отправить комментарий</span>
                        </form>
                        <div class="comments">
                            <div class="comment">
                                <p class="comment__author">Оксана Щирская</p>
                                <div class="statistic-and-date">
                                    <i class="fri fri-date"></i>
                                    <span class="news-item__date">08.06.2017</span>
                                </div>
                                <p class="comment__text">Как указывается в сводке Минсельхоза РФ, яровые зерновые культуры в целом по стране посеяны на площади 30,6 млн га, или 98,7% к прогнозу (в 2016 году – 30,7 млн га).</p>
                            </div>
                            <div class="comment">
                                <p class="comment__author">Дмитрий Иванович</p>
                                <div class="statistic-and-date">
                                    <i class="fri fri-date"></i>
                                    <span class="news-item__date">08.06.2017</span>
                                </div>
                                <p class="comment__text">Как указывается в сводке Минсельхоза РФ</p>
                            </div>
                            <div class="comment">
                                <p class="comment__author">Оксана Щирская</p>
                                <div class="statistic-and-date">
                                    <i class="fri fri-date"></i>
                                    <span class="news-item__date">08.06.2017</span>
                                </div>
                                <p class="comment__text">Как указывается в сводке Минсельхоза РФ, яровые зерновые культуры в целом по стране посеяны на площади 30,6 млн га, или 98,7% к прогнозу (в 2016 году – 30,7 млн га).</p>
                            </div>
                            <div class="comment">
                                <p class="comment__author">Дмитрий Иванович</p>
                                <div class="statistic-and-date">
                                    <i class="fri fri-date"></i>
                                    <span class="news-item__date">08.06.2017</span>
                                </div>
                                <p class="comment__text">Как указывается в сводке Минсельхоза РФ</p>
                            </div>
                        </div>
                    </div>
				</div>
                <div class="sidebar">
                    <div class="journal">
                        <a class="journal__button button button_green" href="#">Читать журнал</a>
                    </div>
                    <div class="sidebar-grid-images">
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="http://zlak.info/" target="_blank"><img src="images/sidebar-image-1.jpg"></a>
                        </div>
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="http://zlak.info/" target="_blank"><img src="images/sidebar-image-2.jpg"></a>
                        </div>
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="#" target="_blank"><img src="images/sidebar-image-3.jpg"></a>
                        </div>
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="http://agriastana.kz/ru/" target="_blank"><img src="images/sidebar-image-4.jpg"></a>
                        </div>
                    </div>
                    <div class="sidebar-ban-wrapper">
                        <img src="http://via.placeholder.com/289x114" alt="" class="sidebar__ban">
                    </div>
                    <div class="sidebar-gismeteo">
                        <img src="images/gismeteo.jpg" alt="">
                    </div>
                </div>
			</div>
		</div>
	</div>

{% endblock %}