{% extends "layouts/app.twig" %}

{% block pageTitle %}Статьи{% endblock %}

{% block content %}

	<div class="articles-page">
		<div class="container">
			<ul class="breadcrumbs">
				<li class="breadcrumbs__item"><a class="link-with-underline link-gray" href="/">Главная</a></li>
				<li class="breadcrumbs__item"><a class="link-with-underline link-gray" href="#">Статьи</a></li>
			</ul>
			<div class="d-flex">
				<div class="page-content">
				<h2 class="h2-title">Статьи</h2>
				<div class="articles">
                    <div class="articles-wrapper">
                        <div class="articles-item">
                            <div class="articles-item__left-part">
                                <img class="articles-item__image" src="images/news-image-1.jpg">
                            </div>
                            <div class="articles-item__right-part">
                                <div class="articles-item__title">
                                    Новый международный проект стартовал в Алматинской области
                                </div>
                                <div class="news-item__text">
                                    В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.
                                </div>
                                <div class="articles-item__bottom">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="articles-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="articles-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="articles-wrapper">
                        <div class="articles-item">
                            <div class="articles-item__left-part">
                                <img class="articles-item__image" src="images/news-image-2.jpg">
                            </div>
                            <div class="articles-item__right-part">
                                <div class="articles-item__title">
                                    Новый международный проект стартовал в Алматинской области
                                </div>
                                <div class="news-item__text">
                                    В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.
                                </div>
                                <div class="articles-item__bottom">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="articles-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="articles-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="articles-wrapper">
                        <div class="articles-item">
                            <div class="articles-item__left-part">
                                <img class="articles-item__image" src="images/news-image-3.jpg">
                            </div>
                            <div class="articles-item__right-part">
                                <div class="articles-item__title">
                                    Новый международный проект стартовал в Алматинской области
                                </div>
                                <div class="news-item__text">
                                    В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.
                                </div>
                                <div class="articles-item__bottom">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="articles-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="articles-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="articles-wrapper">
                        <div class="articles-item">
                            <div class="articles-item__left-part">
                                <img class="articles-item__image" src="images/news-image-4.jpg">
                            </div>
                            <div class="articles-item__right-part">
                                <div class="articles-item__title">
                                    Новый международный проект стартовал в Алматинской области
                                </div>
                                <div class="news-item__text">
                                    В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.
                                </div>
                                <div class="articles-item__bottom">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="articles-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="articles-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="articles-wrapper">
                        <div class="articles-item">
                            <div class="articles-item__left-part">
                                <img class="articles-item__image" src="images/news-image-1.jpg">
                            </div>
                            <div class="articles-item__right-part">
                                <div class="articles-item__title">
                                    Новый международный проект стартовал в Алматинской области
                                </div>
                                <div class="news-item__text">
                                    В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.
                                </div>
                                <div class="articles-item__bottom">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="articles-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="articles-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="articles-wrapper">
                        <div class="articles-item">
                            <div class="articles-item__left-part">
                                <img class="articles-item__image" src="images/news-image-2.jpg">
                            </div>
                            <div class="articles-item__right-part">
                                <div class="articles-item__title">
                                    Новый международный проект стартовал в Алматинской области
                                </div>
                                <div class="news-item__text">
                                    В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.
                                </div>
                                <div class="articles-item__bottom">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="articles-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="articles-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="articles-wrapper">
                        <div class="articles-item">
                            <div class="articles-item__left-part">
                                <img class="articles-item__image" src="images/news-image-3.jpg">
                            </div>
                            <div class="articles-item__right-part">
                                <div class="articles-item__title">
                                    Новый международный проект стартовал в Алматинской области
                                </div>
                                <div class="news-item__text">
                                    В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.
                                </div>
                                <div class="articles-item__bottom">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="articles-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="articles-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="articles-wrapper">
                        <div class="articles-item">
                            <div class="articles-item__left-part">
                                <img class="articles-item__image" src="images/news-image-4.jpg">
                            </div>
                            <div class="articles-item__right-part">
                                <div class="articles-item__title">
                                    Новый международный проект стартовал в Алматинской области
                                </div>
                                <div class="news-item__text">
                                    В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.
                                </div>
                                <div class="articles-item__bottom">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="articles-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="articles-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
				<p class="all-news"></p>
				<ul class="pagination">
                    <li class="pagination__item inactive"><a href="#"><<</a></li>
                    <li class="pagination__item"><a href="#"><</a></li>
					<li class="pagination__item"><a href="#">1</a></li>
					<li class="pagination__item">2</li>
					<li class="pagination__item">3</li>
					<li class="pagination__item pagination__item_dots">...</li>
					<li class="pagination__item">12</li>
					<li class="pagination__item active"><a href="#">13</a></li>
					<li class="pagination__item">14</li>
					<li class="pagination__item">15</li>
					<li class="pagination__item">16</li>
					<li class="pagination__item pagination__item_dots">...</li>
					<li class="pagination__item">22</li>
					<li class="pagination__item">23</li>
					<li class="pagination__item">24</li>
                    <li class="pagination__item">></li>
                    <li class="pagination__item">>></li>
				</ul>
                <ul class="pagination pagination_mobile">
                    <li class="pagination__item"><<</li>
                    <li class="pagination__item"><</li>
                    <li class="pagination__item active">13</li>
                    <li class="pagination__item">14</li>
                    <li class="pagination__item">15</li>
                    <li class="pagination__item pagination__item_dots">...</li>
                    <li class="pagination__item">22</li>
                    <li class="pagination__item">23</li>
                    <li class="pagination__item">24</li>
                    <li class="pagination__item">></li>
                    <li class="pagination__item">>></li>
                </ul>
				</div>
                <div class="sidebar">
                    <div class="journal">
                        <a class="journal__button button button_green" href="#">Читать журнал</a>
                    </div>
                    <div class="sidebar-grid-images">
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="http://zlak.info/" target="_blank"><img src="images/sidebar-image-1.jpg"></a>
                        </div>
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="http://zlak.info/" target="_blank"><img src="images/sidebar-image-2.jpg"></a>
                        </div>
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="#" target="_blank"><img src="images/sidebar-image-3.jpg"></a>
                        </div>
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="http://agriastana.kz/ru/" target="_blank"><img src="images/sidebar-image-4.jpg"></a>
                        </div>
                    </div>
                    <div class="sidebar-ban-wrapper">
                        <img src="images/ban.jpg" alt="" class="sidebar__ban">
                    </div>
                    <div class="sidebar-gismeteo">
                        <img src="images/gismeteo.jpg" alt="">
                    </div>
                </div>
			</div>
		</div>
	</div>

{% endblock %}