{% extends "layouts/app.twig" %}

{% block pageTitle %}Статья{% endblock %}

{% block content %}

    <div class="contacts-page">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a class="link-with-underline link-gray" href="/">Главная</a></li>
                <li class="breadcrumbs__item"><a class="link-with-underline link-gray" href="#">Контакты</a></li>
            </ul>
            <div class="d-flex">
                <div class="page-content">
                    <h2 class="h2-title">Контакты</h2>
                    <div class="contacts">
                        <div class="contact">
                            <h3 class="contact__title">Адрес редакции</h3>
                            <p class="line-height-1_5"><span class="contacts__text">Республика Казахстан, 050022, г. Алматы, ул. Сатпаева, 11</span></p>
                            <p class="line-height-1_5"><span class="contacts__text">Телефоны: <span class="d-inline-blok">+7 (727) <span class="d-inline-blok">292-69-92</span></span>, <span class="d-inline-blok">260-12-72</span>, <span class="d-inline-blok">260-13-45</span></span></p>
                            <p class="line-height-1_5"><span class="contacts__text">Факс: <span class="d-inline-blok">+7 (727) 292-74-38</span></span></p>
                            <p class="line-height-1_5"><span class="contacts__text">E-mail: info@agroalem.kz</span></p>
                        </div>
                        <div class="contact">
                            <h3 class="contact__title">Генеральный директор</h3>
                            <p class="line-height-1_5"><span class="contact__text contact-text_name">Рено Ануар</span></p>
                            <p class="line-height-1_5"><span class="contacts__text">Телефон: <span class="d-inline-blok">+7 (727) <span class="d-inline-blok">292-69-92</span></span>, <span class="d-inline-blok">260-13-45</span></span></p>
                            <p class="line-height-1_5"><span class="contacts__text">Факс: <span class="d-inline-blok">+7 (727) 292-74-38</span></span></p>
                            <p class="line-height-1_5"><span class="contacts__text">E-mail: director@agroalem.kz</span></p>
                        </div>
                        <div class="contact">
                            <h3 class="contact__title">Главный редактор</h3>
                            <p class="line-height-1_5"><span class="contact__text contact-text_name">Алексей Диденко</span></p>
                            <p class="line-height-1_5"><span class="contacts__text">Телефоны: <span class="d-inline-blok">+7 (727) <span class="d-inline-blok">292-69-92</span></span></span></p>
                            <p class="line-height-1_5"><span class="contacts__text">Факс: <span class="d-inline-blok">+7 (727) 292-74-38</span></span></p>
                            <p class="line-height-1_5"><span class="contacts__text">E-mail: editor@agroalem.kz</span></p>
                        </div>
                        <div class="contact">
                            <h3 class="contact__title">Размещение рекламы</h3>
                            <p class="line-height-1_5"><span class="contacts__text">Телефоны: +7 (727) <span class="d-inline-blok">260-12-72</span>, <span class="d-inline-blok">292-69-92</span>, <span class="d-inline-blok">+7 (7172) 55-65-76</span>, <span class="d-inline-blok">+7 (701) 516-51-71</span></span></p>
                            <p class="line-height-1_5"><span class="contacts__text">Факс: <span class="d-inline-blok">+7 (727) 292-74-38</span></span></p>
                            <p class="line-height-1_5"><span class="contacts__text">E-mail: reklama@agroalem.kz</span></p>
                        </div>
                        <div class="contact">
                            <h3 class="contact__title">Специалист отдела подписки</h3>
                            <p class="line-height-1_5"><span class="contacts__text">Телефоны: +7 (727) <span class="d-inline-blok">260-12-72</span>, <span class="d-inline-blok">292-69-92</span></span></p>
                            <p class="line-height-1_5"><span class="contacts__text">Факс: <span class="d-inline-blok">+7 (727) 292-74-38</span></span></p>
                            <p class="line-height-1_5"><span class="contacts__text">E-mail: podpiska@agroalem.kz</span></p>
                        </div>
                        <div class="contact">
                            <h3 class="contact__title">Размещение рекламы</h3>
                            <p class="line-height-1_5"><span class="contacts__text">Телефоны: +7 (727) <span class="d-inline-blok">260-12-72</span>, <span class="d-inline-blok">292-69-92</span>, <span class="d-inline-blok">+7 (7172) 55-65-76</span>, <span class="d-inline-blok">+7 (701) 516-51-71</span></span></p>
                            <p class="line-height-1_5"><span class="contacts__text">Факс: <span class="d-inline-blok">+7 (727) 292-74-38</span></span></p>
                            <p class="line-height-1_5"><span class="contacts__text">E-mail: reklama@agroalem.kz</span></p>
                        </div>
                        <div class="contact">
                            <h3 class="contact__title">Специалист отдела подписки</h3>
                            <p class="line-height-1_5"><span class="contacts__text">Телефоны: +7 (727) <span class="d-inline-blok">260-12-72</span>, <span class="d-inline-blok">292-69-92</span></span></p>
                            <p class="line-height-1_5"><span class="contacts__text">Факс: <span class="d-inline-blok">+7 (727) 292-74-38</span></span></p>
                            <p class="line-height-1_5"><span class="contacts__text">E-mail: podpiska@agroalem.kz</span></p>
                        </div>
                    </div>
                    <form class="feedback" action="#">
                        <p class="feedback__title">Напишите нам</p>
                        <p class="feedback__subtitle">Вы можете написать нам, заполнив поля ниже:</p>
                        <div class="d-flex mb10">
                            <div class="feedback__input-wrapper"><input class="default-input" type="text" placeholder="Имя*"></div>
                            <div class="feedback__input-wrapper"><input class="default-input" type="text" placeholder="Номер телефона*"></div>
                            <div class="feedback__input-wrapper"><input class="default-input" type="text" placeholder="E-mail*"></div>
                        </div>
                        <div class="mb10"><input class="default-input" type="text" placeholder="Тема"></div>
                        <div class="textarea-wrapper">
                            <textarea class="default-textarea" placeholder="Текст сообщения"></textarea>
                        </div>
                        <span class="add-comment__button button button_green" href="#">Отправить</span>
                    </form>
                </div>
                <div class="sidebar">
                    <div class="journal">
                        <a class="journal__button button button_green" href="#">Читать журнал</a>
                    </div>
                    <div class="sidebar-grid-images">
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="http://zlak.info/" target="_blank"><img src="images/sidebar-image-1.jpg"></a>
                        </div>
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="http://zlak.info/" target="_blank"><img src="images/sidebar-image-2.jpg"></a>
                        </div>
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="#" target="_blank"><img src="images/sidebar-image-3.jpg"></a>
                        </div>
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="http://agriastana.kz/ru/" target="_blank"><img src="images/sidebar-image-4.jpg"></a>
                        </div>
                    </div>
                    <div class="sidebar-ban-wrapper">
                        <img src="images/ban.jpg" alt="" class="sidebar__ban">
                    </div>
                    <div class="sidebar-gismeteo">
                        <img src="images/gismeteo.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}