{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}

<div class="main-page">
    <div class="container">
        <div class="d-flex">
            <div class="page-content">
                <h2 class="h2-title">Новости</h2>
                <div class="news">
                    <div class="news-wrapper">
                        <div class="news-item">
                            <div class="news-item__image-wrapper">
                                <img class="news-item__image" src="images/news-image-1.jpg">
                            </div>
                            <h3 class="news-item__title">Новый международный проект стартовал в Алматинской области</h3>
                            <p class="news-item__text">В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.</p>
                            <div class="news-item__bottom d-flex">
                                <a class="button button_green" href="#">Читать далее</a>
                                <div class="statistic-and-date">
                                    <i class="fri fri-date"></i>
                                    <span class="news-item__date">08.06.2017</span>
                                    <i class="fri fri-views"></i>
                                    <span class="news-item__views">25</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news-wrapper">
                        <div class="news-item">
                            <div class="news-item__image-wrapper">
                                <img class="news-item__image" src="images/news-image-2.jpg">
                            </div>
                            <h3 class="news-item__title">Аскар Мырзаметович встретился с послом Чехии</h3>
                            <p class="news-item__text">В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.</p>
                            <div class="news-item__bottom d-flex">
                                <span class="button button_green">Читать далее</span>
                                <div class="statistic-and-date">
                                    <i class="fri fri-date"></i>
                                    <span class="news-item__date">08.06.2017</span>
                                    <i class="fri fri-views"></i>
                                    <span class="news-item__views">25</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news-wrapper">
                        <div class="news-item">
                            <div class="news-item__image-wrapper">
                                <img class="news-item__image" src="images/news-image-3.jpg">
                            </div>
                            <h3 class="news-item__title">Ученые Кембриджа нацчили компьютерраспознавать эмоции животных</h3>
                            <p class="news-item__text">В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.</p>
                            <div class="news-item__bottom d-flex">
                                <span class="button button_green">Читать далее</span>
                                <div class="statistic-and-date">
                                    <i class="fri fri-date"></i>
                                    <span class="news-item__date">08.06.2017</span>
                                    <i class="fri fri-views"></i>
                                    <span class="news-item__views">25</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news-wrapper">
                        <div class="news-item">
                            <div class="news-item__image-wrapper">
                                <img class="news-item__image" src="images/news-image-4.jpg">
                            </div>
                            <h3 class="news-item__title">Аграрная кредитная корпорация и Европейский инвестиционный банк обсудили вопросы сотрудничества</h3>
                            <p class="news-item__text">В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.</p>
                            <div class="news-item__bottom">
                                <span class="button button_green">Читать далее</span>
                                <div class="statistic-and-date">
                                    <i class="fri fri-date"></i>
                                    <span class="news-item__date">08.06.2017</span>
                                    <i class="fri fri-views"></i>
                                    <span class="news-item__views">25</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="all-news">
                    <a class="all-news-link link-without-underline link-dark" href="#">Все новости</a>
                </p>
                <h2 class="h2-title">Статьи</h2>
                <div class="articles">
                    <div class="articles-wrapper">
                        <div class="articles-item">
                            <div class="articles-item__left-part">
                                <img class="articles-item__image" src="images/news-image-1.jpg">
                            </div>
                            <div class="articles-item__right-part">
                                <div class="articles-item__title">
                                    Новый международный проект стартовал в Алматинской области
                                </div>
                                <div class="news-item__text">
                                    В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.
                                </div>
                                <div class="articles-item__bottom news-item__bottom">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="articles-item__statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="articles-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="articles-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="articles-wrapper">
                        <div class="articles-item">
                            <div class="articles-item__left-part">
                                <img class="articles-item__image" src="images/news-image-2.jpg">
                            </div>
                            <div class="articles-item__right-part">
                                <div class="articles-item__title">
                                    Новый международный проект стартовал в Алматинской области
                                </div>
                                <div class="news-item__text">
                                    В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.
                                </div>
                                <div class="articles-item__bottom news-item__bottom">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="articles-item__statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="articles-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="articles-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="articles-wrapper">
                        <div class="articles-item">
                            <div class="articles-item__left-part">
                                <img class="articles-item__image" src="images/news-image-3.jpg">
                            </div>
                            <div class="articles-item__right-part">
                                <div class="articles-item__title">
                                    Новый международный проект стартовал в Алматинской области
                                </div>
                                <div class="news-item__text">
                                    В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.
                                </div>
                                <div class="articles-item__bottom news-item__bottom">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="articles-item__statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="articles-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="articles-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="articles-wrapper">
                        <div class="articles-item">
                            <div class="articles-item__left-part">
                                <img class="articles-item__image" src="images/news-image-4.jpg">
                            </div>
                            <div class="articles-item__right-part">
                                <div class="articles-item__title">
                                    Новый международный проект стартовал в Алматинской области
                                </div>
                                <div class="news-item__text">
                                    В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.
                                </div>
                                <div class="articles-item__bottom news-item__bottom">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="articles-item__statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="articles-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="articles-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="all-news">
                    <a class="all-news-link link-without-underline link-dark" href="#">Все статьи</a>
                </p>
            </div>
            <div class="sidebar">
                <div class="journal">
                    <a class="journal__button button button_green" href="#">Читать журнал</a>
                </div>
                <div class="sidebar-grid-images">
                    <div class="sidebar-grid-image">
                        <a class="link-image" href="http://zlak.info/" target="_blank"><img src="images/sidebar-image-1.jpg"></a>
                    </div>
                    <div class="sidebar-grid-image">
                        <a class="link-image" href="http://zlak.info/" target="_blank"><img src="images/sidebar-image-2.jpg"></a>
                    </div>
                    <div class="sidebar-grid-image">
                        <a class="link-image" href="#" target="_blank"><img src="images/sidebar-image-3.jpg"></a>
                    </div>
                    <div class="sidebar-grid-image">
                        <a class="link-image" href="http://agriastana.kz/ru/" target="_blank"><img src="images/sidebar-image-4.jpg"></a>
                    </div>
                </div>
                <div class="sidebar-ban-wrapper">
                    <img src="http://via.placeholder.com/289x114" alt="" class="sidebar__ban">
                </div>
                <div class="sidebar-gismeteo">
                    <img src="images/gismeteo.jpg" alt="">
                </div>
            </div>
        </div>
        <h2 class="h2-title">Партнеры</h2>
        <div class="partners owl-carousel jq-partners-slider">
            <a class="partners-wrapper" href="#" target="_blank">
                <img class="partners__image" src="images/partner-1.jpg">
            </a>
            <a class="partners-wrapper" href="https://www.damu.kz/" target="_blank">
                <img class="partners__image" src="images/partner-2.jpg">
            </a>
            <a class="partners-wrapper" href="http://mgov.kz/" target="_blank">
                <img class="partners__image" src="images/partner-3.jpg">
            </a>
            <a class="partners-wrapper" href="http://www.kazagro.kz/" target="_blank">
                <img class="partners__image" src="images/partner-4.jpg">
            </a>
            <a class="partners-wrapper" href="http://sfk.kz/ru/" target="_blank">
                <img class="partners__image" src="images/partner-5.jpg">
            </a>
            <a class="partners-wrapper" href="http://www.kazagrogarant.kz/" target="_blank">
                <img class="partners__image" src="images/partner-6.jpg">
            </a>
            <a class="partners-wrapper" href="#" target="_blank">
                <img class="partners__image" src="images/partner-7.jpg">
            </a>
            <a class="partners-wrapper" href="#" target="_blank">
                <img class="partners__image" src="images/partner-1.jpg">
            </a>
            <a class="partners-wrapper" href="https://www.damu.kz/" target="_blank">
                <img class="partners__image" src="images/partner-2.jpg">
            </a>
            <a class="partners-wrapper" href="http://mgov.kz/" target="_blank">
                <img class="partners__image" src="images/partner-3.jpg">
            </a>
            <a class="partners-wrapper" href="http://www.kazagro.kz/" target="_blank">
                <img class="partners__image" src="images/partner-4.jpg">
            </a>
            <a class="partners-wrapper" href="http://sfk.kz/ru/" target="_blank">
                <img class="partners__image" src="images/partner-5.jpg">
            </a>
            <a class="partners-wrapper" href="http://www.kazagrogarant.kz/" target="_blank">
                <img class="partners__image" src="images/partner-6.jpg">
            </a>
            <a class="partners-wrapper" href="#" target="_blank">
                <img class="partners__image" src="images/partner-7.jpg">
            </a>
        </div>
    </div>
</div>

{% endblock %}