{% extends "layouts/app.twig" %}

{% block pageTitle %}Новости{% endblock %}

{% block content %}

	<div class="news-page">
		<div class="container">
			<ul class="breadcrumbs">
				<li class="breadcrumbs__item"><a class="link-with-underline link-gray" href="/">Главная</a></li>
				<li class="breadcrumbs__item"><a class="link-with-underline link-gray" href="#">Новости</a></li>
			</ul>
            <div class="news-banner">
                <a class="link-image" href="#"><img class="news-banner__image" src="http://via.placeholder.com/1150x100"></a>
            </div>
			<div class="d-flex">
				<div class="page-content">
                    <h2 class="h2-title">Самое читаемое</h2>
                    <div class="top-news">
                        <div class="news-wrapper">
                            <a href="#" class="news-item">
                                <div class="news-item__image-wrapper">
                                    <img class="news-item__image" src="images/news-image-1.jpg">
                                </div>
                                <p class="news-item__text">Новый международный проект</p>
                            </a>
                        </div>
                        <div class="news-wrapper">
                            <a href="#" class="news-item">
                                <div class="news-item__image-wrapper">
                                    <img class="news-item__image" src="images/news-image-2.jpg">
                                </div>
                                <p class="news-item__text">Новый международный проект стартовал в Алматинской области</p>
                            </a>
                        </div>
                        <div class="news-wrapper">
                            <a href="#" class="news-item">
                                <div class="news-item__image-wrapper">
                                    <img class="news-item__image" src="images/news-image-3.jpg">
                                </div>
                                <p class="news-item__text">Новый международный проект стартовал в Алматинской области</p>
                            </a>
                        </div>
                        <div class="news-wrapper">
                            <a href="#" class="news-item">
                                <div class="news-item__image-wrapper">
                                    <img class="news-item__image" src="images/news-image-1.jpg">
                                </div>
                                <p class="news-item__text">Новый международный проект стартовал в Алматинской области</p>
                            </a>
                        </div>
                    </div>
					<h2 class="h2-title">Новости</h2>
					<div class="news">
                        <div class="news-wrapper">
                            <div class="news-item">
                                <div class="news-item__image-wrapper">
                                    <img class="news-item__image" src="images/news-image-1.jpg">
                                </div>
                                <h3 class="news-item__title">Новый международный проект стартовал в Алматинской области</h3>
                                <p class="news-item__text">В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.</p>
                                <div class="news-item__bottom d-flex">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="news-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="news-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-wrapper">
                            <div class="news-item">
                                <div class="news-item__image-wrapper">
                                    <img class="news-item__image" src="images/news-image-2.jpg">
                                </div>
                                <h3 class="news-item__title">Аскар Мырзаметович встретился с послом Чехии</h3>
                                <p class="news-item__text">В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.</p>
                                <div class="news-item__bottom d-flex">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="news-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="news-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-wrapper">
                            <div class="news-item">
                                <div class="news-item__image-wrapper">
                                    <img class="news-item__image" src="images/news-image-3.jpg">
                                </div>
                                <h3 class="news-item__title">Ученые Кембриджа нацчили компьютерраспознавать эмоции животных</h3>
                                <p class="news-item__text">В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.</p>
                                <div class="news-item__bottom d-flex">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="news-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="news-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-wrapper">
                            <div class="news-item">
                                <div class="news-item__image-wrapper">
                                    <img class="news-item__image" src="images/news-image-4.jpg">
                                </div>
                                <h3 class="news-item__title">Аграрная кредитная корпорация и Европейский инвестиционный банк обсудили вопросы сотрудничества</h3>
                                <p class="news-item__text">В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.</p>
                                <div class="news-item__bottom">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="news-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="news-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-wrapper">
                            <div class="news-item">
                                <div class="news-item__image-wrapper">
                                    <img class="news-item__image" src="images/news-image-1.jpg">
                                </div>
                                <h3 class="news-item__title">Новый международный проект стартовал в Алматинской области</h3>
                                <p class="news-item__text">В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.</p>
                                <div class="news-item__bottom d-flex">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="news-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="news-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-wrapper">
                            <div class="news-item">
                                <div class="news-item__image-wrapper">
                                    <img class="news-item__image" src="images/news-image-2.jpg">
                                </div>
                                <h3 class="news-item__title">Аскар Мырзаметович встретился с послом Чехии</h3>
                                <p class="news-item__text">В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.</p>
                                <div class="news-item__bottom d-flex">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="news-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="news-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-wrapper">
                            <div class="news-item">
                                <div class="news-item__image-wrapper">
                                    <img class="news-item__image" src="images/news-image-3.jpg">
                                </div>
                                <h3 class="news-item__title">Ученые Кембриджа нацчили компьютерраспознавать эмоции животных</h3>
                                <p class="news-item__text">В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.</p>
                                <div class="news-item__bottom d-flex">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="news-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="news-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-wrapper">
                            <div class="news-item">
                                <div class="news-item__image-wrapper">
                                    <img class="news-item__image" src="images/news-image-4.jpg">
                                </div>
                                <h3 class="news-item__title">Аграрная кредитная корпорация и Европейский инвестиционный банк обсудили вопросы сотрудничества</h3>
                                <p class="news-item__text">В Енбекшиказахском районе Алматинской области стартовал финансируемый ЕС проект «ОДАК — Еннбекшиказахский Альянс для устойчивого экономического и человеческого развития», при участии районного акимата.</p>
                                <div class="news-item__bottom">
                                    <span class="button button_green">Читать далее</span>
                                    <div class="statistic-and-date">
                                        <i class="fri fri-date"></i>
                                        <span class="news-item__date">08.06.2017</span>
                                        <i class="fri fri-views"></i>
                                        <span class="news-item__views">25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<p class="all-news"></p>
					<ul class="pagination">
						<li class="pagination__item">1</li>
						<li class="pagination__item">2</li>
						<li class="pagination__item">3</li>
						<li class="pagination__item pagination__item_dots">...</li>
						<li class="pagination__item">12</li>
						<li class="pagination__item active">13</li>
						<li class="pagination__item">14</li>
						<li class="pagination__item">15</li>
						<li class="pagination__item">16</li>
						<li class="pagination__item pagination__item_dots">...</li>
						<li class="pagination__item">22</li>
						<li class="pagination__item">23</li>
						<li class="pagination__item">24</li>
					</ul>
                    <ul class="pagination pagination_mobile">
                        <li class="pagination__item">1</li>
                        <li class="pagination__item">2</li>
                        <li class="pagination__item">3</li>
                        <li class="pagination__item pagination__item_dots">...</li>
                        <li class="pagination__item">22</li>
                        <li class="pagination__item">23</li>
                        <li class="pagination__item">24</li>
                    </ul>
				</div>
                <div class="sidebar">
                    <div class="journal">
                        <a class="journal__button button button_green" href="#">Читать журнал</a>
                    </div>
                    <div class="sidebar-grid-images">
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="http://zlak.info/" target="_blank"><img src="images/sidebar-image-1.jpg"></a>
                        </div>
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="http://zlak.info/" target="_blank"><img src="images/sidebar-image-2.jpg"></a>
                        </div>
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="#" target="_blank"><img src="images/sidebar-image-3.jpg"></a>
                        </div>
                        <div class="sidebar-grid-image">
                            <a class="link-image" href="http://agriastana.kz/ru/" target="_blank"><img src="images/sidebar-image-4.jpg"></a>
                        </div>
                    </div>
                    <div class="sidebar-ban-wrapper">
                        <img src="http://via.placeholder.com/289x114" alt="" class="sidebar__ban">
                    </div>
                    <div class="sidebar-gismeteo">
                        <img src="images/gismeteo.jpg" alt="">
                    </div>
                </div>
			</div>
		</div>
	</div>

{% endblock %}