<footer class="footer">
    <div class="container">
        <div class="d-flex">
            <div class="contacts">
                <p class="text-medium text-white fz23 mb28">Контакты</p>
                <p class="contacts__line">г. Усть-Каменогорск</p>
                <p class="contacts__line">ул. Ворошилова, 62-33</p>
                <p class="contacts__line">тел.: <a class="default-link text-white" href="tel:+77232753056">+7 7232 75-30-56</a></p>
                <p class="contacts__line"><a class="default-link text-white" href="mailto:info@agroboss.kz">info@Agroboss.kz</a></p>

            </div>
            <div class="social">
                <span class="social-wrapper"><i class="fri fri-facebook"></i></span>
                <span class="social-wrapper"><i class="fri fri-twitter"></i></span>
                <span class="social-wrapper"><i class="fri fri-google"></i></span>
                <span class="social-wrapper"><i class="fri fri-vk"></i></span>
                <span class="social-wrapper"><i class="fri fri-email"></i></span>
            </div>
            <div class="menu-1"></div>
            <div class="menu-2"></div>
        </div>
    </div>
</footer>