<footer class="footer">
    <div class="container">
        <div class="footer__grid">
            <div class="footer-contacts">
                <p class="footer__title">Контакты</p>
                <p class="contacts__line">г. Усть-Каменогорск</p>
                <p class="contacts__line">ул. Ворошилова, 62-33</p>
                <p class="contacts__line">тел.: <a class="link-with-underline link-white" href="tel:+77232753056">+7 7232 75-30-56</a></p>
                <p class="contacts__line"><a class="link-with-underline link-white" href="mailto:info@agroboss.kz">info@Agroboss.kz</a></p>

            </div>
            <div class="footer-social">
                <p class="footer__title text-center">Подписка на соц. сети</p>
                <div class="d-flex">
                    <span class="social-wrapper"><a class="link-image" href="https://www.facebook.com/bossagro1/" target="_blank"><i class="fri fri-facebook"></i></a></span>
                    <span class="social-wrapper"><a class="link-image" href="https://twitter.com/bossagro" target="_blank"><i class="fri fri-twitter"></i></a></span>
                    <span class="social-wrapper"><a class="link-image" href="https://plus.google.com/u/0/" target="_blank"><i class="fri fri-google"></i></a></span>
                    <span class="social-wrapper"><a class="link-image" href="https://vk.com/public96193465" target="_blank"><i class="fri fri-vk"></i></a></span>
                    <span class="social-wrapper"><a class="link-image" href="mailto:info@agroboss.kz"><i class="fri fri-email"></i></a></span>
                </div>
            </div>
            <ul class="footer-menu">
                <li class="footer-menu__item"><a class="link-with-underline link-white" href="#">Главная</a></li>
                <li class="footer-menu__item"><a class="link-with-underline link-white" href="#">Новости</a></li>
                <li class="footer-menu__item"><a class="link-with-underline link-white" href="#">Клиенты</a></li>
                <li class="footer-menu__item"><a class="link-with-underline link-white" href="#">Рекламодатели</a></li>
            </ul>
            <ul class="footer-menu">
                <li class="footer-menu__item"><a class="link-with-underline link-white" href="#">Архив</a></li>
                <li class="footer-menu__item"><a class="link-with-underline link-white" href="#">Сельхоз техника</a></li>
                <li class="footer-menu__item"><a class="link-with-underline link-white" href="#">Справочник</a></li>
            </ul>
        </div>
        <p class="text-center text-white">©Copyright</p>
    </div>
</footer>