<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header-logo-wrapper">
                <a class="link-image" href="/">
                    <img class="logo-image" src="images/logo.png">
                </a>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header-menu-wrapper">
                <ul class="main-menu">
                    <li class="main-menu__item">
                        <a class="main-menu__item-link" href="/">Главная</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__item-link" href="#">Новости</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__item-link" href="#">Клиенты</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__item-link" href="#">Рекламодателям</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__item-link" href="#">Архив</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__item-link" href="#">Сельхоз техника</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__item-link" href="#">Справочник</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>