<header class="header">
    <div class="header_bg-left"></div>
    <div class="header__top">
        <div class="container">
            <div class="header-grid">
                <div class="header-logo-wrapper">
                    <a class="link-image" href="/">
                        <img class="logo-image" src="images/logo.png">
                        <img class="small-logo" src="images/logo-small.png">
                    </a>
                </div>
                <div class="header_bg-right jq-header-animate">
                    <div class="header-right jq-header-right" data-timeout="1">
                        <img class="header__image active" src="images/header-1.jpg" alt="">
                        <img class="header__image" src="images/header-2.jpg" alt="">
                        <img class="header__image" src="images/header-3.jpg" alt="">
                        <img class="header__image" src="images/header-4.jpg" alt="">
                    </div>
                    <div class="header-right jq-header-right" data-timeout="2">
                        <img class="header__image" src="images/header-1.jpg" alt="">
                        <img class="header__image active" src="images/header-2.jpg" alt="">
                        <img class="header__image" src="images/header-3.jpg" alt="">
                        <img class="header__image" src="images/header-4.jpg" alt="">
                    </div>
                    <div class="header-right jq-header-right" data-timeout="3">
                        <img class="header__image" src="images/header-1.jpg" alt="">
                        <img class="header__image" src="images/header-2.jpg" alt="">
                        <img class="header__image active" src="images/header-3.jpg" alt="">
                        <img class="header__image" src="images/header-4.jpg" alt="">
                    </div>
                    <div class="header-right jq-header-right" data-timeout="4">
                        <img class="header__image" src="images/header-1.jpg" alt="">
                        <img class="header__image" src="images/header-2.jpg" alt="">
                        <img class="header__image" src="images/header-3.jpg" alt="">
                        <img class="header__image active" src="images/header-4.jpg" alt="">
                    </div>
                </div>
                <div class="hamburger-button-wrapper">
                    <div class="button-hamburger js-open-popup" data-open-popup="mobile-menu">
                        <span class="button-hamburger__line"></span>
                        <span class="button-hamburger__line"></span>
                        <span class="button-hamburger__line"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header-menu-wrapper">
                <ul class="main-menu">
                    <li class="main-menu__item">
                        <a class="main-menu__item-link link-without-underline link-white" href="/">Главная</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__item-link link-without-underline link-white" href="/news.html">Новости</a>
                    </li>
                    <li class="main-menu__item main-menu__item_dropdown">
                        <a class="main-menu__item-link link-without-underline link-white" href="/articles.html">Статьи</a>
                        <ul class="main-menu__submenu submenu">
                            <li class="submenu__item">
                                <a class="submenu__item-link link-without-underline link-white" href="#">Растениеводство</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__item-link link-without-underline link-white" href="#">Овощеводство</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__item-link link-without-underline link-white" href="#">Защита растений</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__item-link link-without-underline link-white" href="#">Животноводство</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__item-link link-without-underline link-white" href="#">Ветеринария</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__item-link link-without-underline link-white" href="#">Техника</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-menu__item main-menu__item_dropdown-red">
                        <a class="main-menu__item-link link-without-underline link-red" href="#">Журнал "Босс-Агро"</a>
                        <ul class="main-menu__submenu submenu active">
                            <li class="submenu__item">
                                <a class="submenu__item-link link-without-underline link-white" href="/redaction.html">Редакция</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__item-link link-without-underline link-white" href="/ads-department.html">Рекламный отдел</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__item-link link-without-underline link-white" href="/subscription.html">Подписаться на журнал</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__item-link link-without-underline link-white" href="/archive.html">Архив вышедших номеров</a>
                            </li>
                            <li class="submenu__item submenu__item-sub">
                                <p class="submenu__item-link  link-white">Разместить рекламу</p>
                                <ul class="main-menu__submenu sub-submenu">
                                    <li class="submenu__item"><a class="submenu__item-link link-without-underline link-white" href="/ads-in-journal.html">В печатной версии</a></li>
                                    <li class="submenu__item"><a class="submenu__item-link link-without-underline link-white" href="/ads-in-site.html">На сайте</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__item-link link-without-underline link-white" href="/contacts.html">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>