<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header-grid">
                <div class="header-logo-wrapper">
                    <a class="link-image" href="/">
                        <img class="logo-image" src="images/logo.png">
                        <img class="small-logo" src="images/logo-small.png">
                    </a>
                </div>
                <div class="hamburger-button-wrapper">
                    <div class="button-hamburger js-open-popup" data-open-popup="mobile-menu">
                        <span class="button-hamburger__line"></span>
                        <span class="button-hamburger__line"></span>
                        <span class="button-hamburger__line"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header-menu-wrapper">
                <ul class="main-menu">
                    <li class="main-menu__item">
                        <a class="main-menu__item-link link-without-underline link-white" href="/">Главная</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__item-link link-without-underline link-white" href="#">Новости</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__item-link link-without-underline link-white" href="#">Клиенты</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__item-link link-without-underline link-white" href="#">Рекламодателям</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__item-link link-without-underline link-white" href="#">Архив</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__item-link link-without-underline link-white" href="#">Сельхоз техника</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__item-link link-without-underline link-white" href="#">Справочник</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>