<div class="mobile-menu-modal js-popup" data-popup="mobile-menu">
    <div class="mobile-menu">
        <div class="mobile-menu__close js-close-popup"></div>
        <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark" href="/">Главная</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark" href="#">Новости</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark" href="#">Клиенты</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark" href="#">Рекламодателям</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark" href="#">Архив</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark" href="#">Сельхоз техника</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark" href="#">Справочник</a>
            </li>
        </ul>
    </div>
</div>