<div class="mobile-menu-modal js-popup" data-popup="mobile-menu">
    <div class="mobile-menu-wrapper">
        <div class="mobile-menu__close js-close-popup"></div>
        <ul class="mobile-menu">
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark" href="/">Главная</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark" href="#">Новости</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark mobile-menu__item_dropdown" href="#">Статьи</a>
                <ul class="mobile-menu__submenu mobile-submenu">
                    <li class="mobile-submenu__item">
                        <a class="mobile-submenu__item-link link-without-underline link-dark" href="#">Растениеводство</a>
                    </li>
                    <li class="mobile-submenu__item">
                        <a class="mobile-submenu__item-link link-without-underline link-dark" href="#">Овощеводство</a>
                    </li>
                    <li class="mobile-submenu__item">
                        <a class="mobile-submenu__item-link link-without-underline link-dark" href="#">Защита растений</a>
                    </li>
                    <li class="mobile-submenu__item">
                        <a class="mobile-submenu__item-link link-without-underline link-dark" href="#">Животноводство</a>
                    </li>
                    <li class="mobile-submenu__item">
                        <a class="mobile-submenu__item-link link-without-underline link-dark" href="#">Ветеринария</a>
                    </li>R
                    <li class="mobile-submenu__item">
                        <a class="mobile-submenu__item-link link-without-underline link-dark" href="#">Техника</a>
                    </li>
                </ul>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark mobile-menu__item_dropdown" href="#">Журнал "Босс-Агро"</a>
                <ul class="mobile-menu__submenu mobile-submenu">
                    <li class="mobile-submenu__item">
                        <a class="mobile-submenu__item-link link-without-underline link-dark" href="#">Редакция</a>
                    </li>
                    <li class="mobile-submenu__item">
                        <a class="mobile-submenu__item-link link-without-underline link-dark" href="#">Рекламный отдел</a>
                    </li>
                    <li class="mobile-submenu__item">
                        <a class="mobile-submenu__item-link link-without-underline link-dark" href="#">Защита растений</a>
                    </li>
                    <li class="mobile-submenu__item">
                        <a class="mobile-submenu__item-link link-without-underline link-dark" href="#">Животноводство</a>
                    </li>
                    <li class="mobile-submenu__item">
                        <a class="mobile-submenu__item-link link-without-underline link-dark" href="#">Ветеринария</a>
                    </li>
                    <li class="mobile-submenu__item">
                        <a class="mobile-submenu__item-link link-without-underline link-dark" href="#">Техника</a>
                    </li>
                </ul>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark" href="#">Контакты</a>
            </li>
        </ul>
    </div>
</div>

<div class="popup-wrapper js-popup" data-popup="call-me-manager">
    <div class="call-me">
        <div class="popup__close popup__close_red js-close-popup"></div>
        <div class="call-me__title">Заказать <span class="text-red">бесплатный</span> звонок</div>
        <form action="#" class="popup__form">
            <input class="input mb20" type="text" placeholder="Ваше имя">
            <input class="input mb20" type="text" placeholder="Ваш телефон">
            <p class="text-center">
                <button class="button button_green button_send" type="submit">Отправить</button>
            </p>
        </form>
    </div>
</div>