<div class="mobile-menu-modal js-popup" data-popup="mobile-menu">
    <div class="mobile-menu">
        <div class="mobile-menu__close js-close-popup"></div>
        <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark" href="/">Журнал</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark" href="#">Редакция</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark" href="#">Рекламный отдел</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark" href="#">Подписка</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark" href="#">Разместить рекламу</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark" href="#">Где нас читают</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark" href="#">Клиенты и партнеры</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link link-without-underline link-dark" href="#">Контакты</a>
            </li>
        </ul>
    </div>
</div>